{% extends 'hometemp/adminindex.html' %}
{% load static %}
{% block content %}
<div class="container" style="background-color:#070505cf; padding:100px 100px 100px 100px;">
    <h3 style="color:#fff">-------------------------------------------------------------------------</h3>
<h1 style="font-size:70px;margin-top: 10px; margin-left: 150px; margin-right: auto;color:#fff">ADMIN HOMEPAGE</h1>
<h3 style="color:#fff">-------------------------------------------------------------------------</h3>
</div>

{% endblock %}

