<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div style="margin-top: 50px; margin-left: 350px; margin-right: auto;" class="container">
    <div class="col-lg-8">
        <h1 align="center" style="color:#337ab7;">CALL LETTER</h1>
<table class="table table-bordered">
    <tr>
        <td>Subject</td>
        <td>{{vi.subject}}</td>
    </tr>
    <tr>
        <td>Status</td>
         <td>{{vi.message}}</td>
    </tr>

</table>
    <a href ="../applistatus">Back</a>
        </div>
</div>



