{% load static %}
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Comport</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.png' %}" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/animate-3.7.0.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome-4.7.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/flat-icon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-4.1.3.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/qqqfooter.css' %}">
</head>
<body>
<div>
    <!-- Preloader Starts -->
    <div class="preloader">
        <div class="spinner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Header Area Starts -->
	<header class="header-area main-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="logo-area">
                        <a href="index.html"><img src="{% static 'assets/images/logo.png' %}" alt="logo"></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="custom-navbar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-menu">
                        <ul>
                            <li class="active"><a href="mainhome">home</a></li>
                            <li class="menu-btn">
                                <a href="#" class="login">Sign In</a>
                                    <ul class="sub-menu">
                                    <li><a href="login">Login</a></li>
                                </ul>
                            </li>
                            <li class="menu-btn">
                                <a href="#" class="template-btn">Sign Up</a>
                                <ul class="sub-menu">
                                    <li><a href="cansign">Candidate Register</a></li>
                                    <li><a href="cmpreg">Company Register</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Area End -->
    <div class="container-fluid">
	{% block content %}
	{% endblock %}
	</div>
<!-- Newsletter Area Starts -->
    <div class="footerstyle">
    <section class="newsletter-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <font size="6" color = "white">"IF YOU CAN <b>DREAM</b> IT, YOU CAN <b>DO</b> IT.”</font></br><font size="5" color="white">– Walt Disney</font>

                    </div>
                </div>
            </div>

        </div>
    </section>
    </div>
</div>
    <!-- Newsletter Area End -->

    <!-- Javascript -->
    <script src="{% static 'assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'assets/js/vendor/bootstrap-4.1.3.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/owl-carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/ion.rangeSlider.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>

